* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-color: #ff3131;
  --text-color: #ffff;
  --other-color: #212121;
  --second-color: #9e9e9e;
  --bg-color: #111111;

  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 14%;
  transition: all 0.5s ease;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 33px;
  font-weight: 700;
}

.logo i {
  vertical-align: middle;
  margin-right: 8px;
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a.active {
  color: var(--main-color);
}

.nav-icons {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background: var(--main-color);
  border-radius: 3rem;
  box-shadow: #ff3131 0px 1px 25px;
}

.nav-icons i {
  vertical-align: middle;
  font-size: 25px;
  color: var(--bg-color);
  margin-right: 8px;
  margin-left: 5px;
  transition: all 0.5s ease-in;
}

.nav-icons i:hover {
  color: var(--text-color);
  transform: scale(1.1);
}
#menu-icon {
  font-size: 32px;
  color: var(--bg-color);
  z-index: 1001;
  cursor: pointer;
  display: none;
}

section {
  padding: 70px 14% 60px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home-img img {
  width: 100%;
  height: auto;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.home span {
  color: var(--main-color);
}

.btn-menu {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--other-color);
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: all 0.5s ease;
}

.btn-menu i {
  vertical-align: middle;
  margin-left: 9px;
  font-size: 22px;
}

.btn-menu:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: #ff3131 0px 1px 25px;
}

.btn-order-now {
  display: inline-block;
  margin-left: 30px;
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
  transition: all 0.5s ease;
}

.btn-order-now:hover {
  transform: scale(1.1) translateX(12px);
}

header.sticky {
  padding: 12px 14%;
  background: var(--other-color);

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Add other styles as needed */
}

.container {
  padding: 30px 14% 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  text-align: center;
}

.container-box {
  padding: 43px 43px 43px 43px;
  background-color: var(--other-color);
  border-radius: 3rem;
  z-index: 1;
  transition: transform 0.3s ease; /* Smooth transition */
}

.container-box img {
  width: 100%;
  max-width: 50px;
  height: auto;
  justify-content: center;
}

.hours {
  display: grid;
  grid-template-columns: auto auto; /* One column for days, one for times */
  gap: 5px 20px; /* Adjust the gap between items */
  justify-content: center;
}

.day {
  text-align: right;
  font-weight: bold;
  color: var(--main-color);
}

.time {
  text-align: left;
}
.container-box:hover {
  transform: scale(1.08); /* Scale up slightly on hover */
}

.container-box h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 16px 0;
}

.container-box a {
  color: var(--second-color);
  font-size: var(--p-font);
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.container-box a:hover {
  color: var(--main-color);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}

.about img {
  width: 100%;
  height: auto;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.3;
  margin-bottom: 2rem;
}

.about-text p {
  color: var(--text-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 3rem;
}

.about-twist {
  font-size: var(--h2-font);
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--main-color);
}
.logo-pic {
  width: 150px;
  height: 125px;
}

.middle-text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text-color);
}
.contact-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-text {
  text-align: center;
  color: #ffffff;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-text h1 {
  color: var(--main-color);
}
.contact-info {
  margin: 20px 0;
}
.contact-info a {
  color: var(--main-color);
}
.contact-catering {
  color: var(--main-color);
}

.phone i {
  font-size: 35px;
}

.phone i:hover {
  color: var(--text-color);
}

.email i {
  font-size: 35px;
}

.email i:hover {
  color: var(--text-color);
}

.social i {
  font-size: 35px;
  padding: 10px;
}

.social i:hover {
  color: var(--text-color);
}

.devBy:hover {
  transform: scale(1.05); /* Slightly enlarge the div on hover */
}

.devBy i {
  font-size: 15px;
}

.devBy a {
  color: var(--text-color); /* Main color for the link */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease; /* Smooth transition for the color */
}

.devBy a::after {
  content: ''; /* Add pseudo-element for underline */
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  left: 0;
  bottom: -4px;
  transform: scaleX(0); /* Start with hidden underline */
  transition: transform 0.3s ease;
  transform-origin: right;
}

.devBy a:hover {
  color: var(--main-color); /* Change color on hover */
}

.devBy a:hover::after {
  transform: scaleX(1); /* Expand the underline on hover */
  transform-origin: left;
}

.menu-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.menu-content img {
  width: 100%;
  height: auto;
}

.scroll {
  display: none; /* Hide arrow initially */
  position: fixed;
  bottom: 2.2rem;
  border-top: 2rem;
  right: 3.2rem;
}

.scroll i {
  font-size: 32px;
  color: var(--main-color);
  background: var(--bg-color);
  padding: 10px;
  border-radius: 2rem;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

@media (max-width: 1545px) {
  header {
    padding: 22px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 14px 4%;
    transition: 0.2s;
  }

  section {
    padding: 50px 4% 40px;
    transition: 0.2s;
  }
  .container {
    padding: 30px 4% 50px;
  }
}

@media (max-width: 1180px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.2rem;
    --p-font: 15px;
  }
  .home {
    height: 85vh;
  }
}

@media (max-width: 1060px) {
  #menu-icon {
    display: initial;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--other-color);
    transition: all 0.5s ease;
  }

  .navlist a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border-left: 2px solid var(--main-color);
  }

  .navlist.open {
    top: 100%;
  }
}

@media (max-width: 1045px) {
  :root {
    --big-font: 3.3rem;
    --h2-font: 2rem;
  }
  .home-img img {
    width: 100%;
    max-width: 490px;
    height: auto;
  }
  .about-img img {
    width: 100%;
    max-width: 490px;
    height: auto;
  }

  .home {
    height: 70vh;
  }
}

@media (max-width: 860px) {
  .home {
    grid-template-columns: 1fr;
    height: 118vh;
  }
  .home-text {
    padding-top: 100px;
  }
  .home-img {
    text-align: center;
  }

  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .contact-text {
    max-width: 100%;
  }
}

@media (max-width: 475px) {
  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
  }
}

@media (max-width: 440px) {
  .home {
    height: 110vh;
    gap: 0.1rem;
  }
}
/* #menu {
  padding: 20px 5% 20px;
} */
